
.container{
    max-width:970px;
}

.container-fluid{
    padding-top: -600px;
}

.container-fluid-overview{
    padding: 30px ;
}

.container-about-page{
    max-width: 80%;
    padding-left: 15%;
}
.col-lg-6{
    padding:30px;
}

#errorMsg {
    text-align: center;
}

.header {
    float: right;
}

.header img {
    border-radius: 5px;
    margin: 10px;
}

.landingButton{
    position: relative;
    cursor:pointer;
    text-align: center;
    font-size:16pt;
    background-color: white;
    color: black;
    width:30%;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: .1em .1em 0 0;
    margin-left:220px;
}


.btn-ruchi{
    background-color: black;
    color: white;
    border-radius:0.5em;
    height:7%;
}

.btn-ruchi a:hover{
    background-color: black;
    color:yellow;
}


.learnMore {
    left: 43%;
    height: 8%;
    width: 14%;
    position: relative;
    border-color: white;
    color: white;
    background-color:transparent;
}

.landingImage {
    position: relative;
    width:80%;
    height: 80%;
    margin-left:7%;
}



.imageText {
    position: absolute;
    margin-top:-125px;
    margin-left: 10%;
   color: white;
    background-color: rgba(47, 39, 39, 0.9);
    background-position: center;
    text-wrap: normal;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 100%;
    max-width: 70%;
}


.imageText2 {
    position: absolute;
    top: 250px;
    left: 100px;
    width: 100%;
}





html *
{
    font-family:  "Courier", "Courier New","Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

/* This is the code for the navigation bar at the top of each page*/


/* Code for changing the color of the navigation bad*/
.navbar{
    font-size:20px;
    background-color: black;
}

.navbar-right{
    color:black;
}

.nav-ruchi{
    padding-left:10px;
    background-color: black;
}
.navbar-brand{
    font-size:30px;
    padding-right: 150px;
}
/*code for getting the logo to be  on the navigation bar*/
.navbar-brand>img {
    max-height: 40px;
}

.nav li{
    display: inline-block;
    padding-right:10px;
}


/*
Code for adjusting the spacing of tabs on the navbar
 */
.navbar-nav > li{
    padding-left:60px;
}

/*
Code for changing the color of tabs on navbar
 */
.nav-tabs-ruchi > li > a {
    padding-top:25px;
    padding-left: 25px;
    color: whitesmoke;
}

.nav-tabs-ruchi > li > a:hover {
    color: yellow; /*amazon orange*/
    padding-top:25px;
    background-color: black;
    border-color: black;
}

.glyphicon.glyphicon-search{
    font-size: 25px;
}

/*
Code for changing the rest of the nagivation bar,
This code is associated with the differen ta
 */
.navbar-nav{
    /*margin-top:5px;
    margin-left: 10px;*/
    color:black;
    background-color: black;
}

.navbar-form{
    padding-top: 10px;
}



/*
Code for panel heading and content
 */



.section1{
    padding-top: -1000px;
}

.jumbotron{
    width: "110%";
    background-image:"/images/Amazon_MacBookPro.png";
    position: relative;
}

.jumbotronLearnMore{
    background-image:url("http://solutions.bayer.com/fileadmin/user_upload/_Titelbilder/Fotolia_58368809_XXL_1.jpg");
    height: 400px;
}

.box{
    background-color: rgba(0, 0, 0, 0.65);
    height: 80%;
    width: 85%;
    position:relative;
    padding: 30px;
    left:7%;
    bottom: 5%;
    color: white;
    font-size: xx-large;
}


.box2{
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 100%;
    top:-10%;
    position:relative;
    color: white;
    font-size: xx-large;
}

.box3{
    background-color: white;
    height: 100%;
    width: 100%;
    top:-10%;
    position:relative;
    color: white;
    font-size: xx-large;
}

.intro-heading {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
    text-align:center;
}

.background-video{

    height: 100%;
    width: 100%;
    float: left;
    top: 0;
    position: fixed;
}


.video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

slide .video-wrap video {
    top: 0px;
    position: relative;
    -webkit-backface-visibility: hidden!important;
}

#video-background {
    position:fixed;
    right:0;
    bottom:0;
    min-width: 100%;
    min-height: 100%;
    width:auto;
    height:auto;
    z-index:-100;
}

.Lead{
    color: rgb(0,178,169,1);
}

/*
Type-write theme
 */

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgba(0, 0, 0, 0.75); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    padding-top: 10px;
    animation:
            typing 3.5s steps(40,end),
            blink-caret .75s step-end infinite;
    text-align: center;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;font-size:75px;line-height:75px;margin-bottom:50px ;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: rgba(0, 0, 0, 0.75) }
    50% { border-color: rgba(0, 0, 0, 0.75); }
}

/*
Google Maps
 */

.GMap {
    height: 100%;
    position: absolute;
    width: 100%;
}
.GMap-canvas {
    top: 20px;
    display: block;
    width: 100%;
    height: 100%;
}
.UpdatedText {
    color: red;
}

.glyphicon.glyphicon-search {
    font-size: 20px;
    font-family: "American Typewriter";
    text-color: black;
}


/*
Code for autosuggest
 */

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    border: 1px solid #aaa;
    width: 360px;
    background-color: #fff;
    font-weight: 300;
    font-size: 18px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 2;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}

.react-autosuggest__input {
    width: 360px;
    height: 30px;
    padding: 10px 20px;
    font-weight: 300;
    font-size: 18px;
    border: 1px solid #aaa;
    border-radius: 4px;
}
/*
Code for Seller buyer Interface
 */

.imageSeller{
    height:120px;
}

.imageBuyer{
    height:180px;
}

.welcome{
    font-size: 50px;
}

.searchText{
    font-size: 18px;
}


/*
changes starts here
 */

.searchButton{
    height:5%;
}

.panelButton{
    text-align:center;
}

.mapPanel{
    margin-top:100px;
    margin-left:50px;
    margin-right:50px;
}

.mapPanel2{
    margin-left:50px;
    margin-right:50px;
}

a:hover{
   color: rgba(0, 0, 0, 0.61);
    text-decoration: none;
}

a:active{
    color: rgba(0, 0, 0, 0.61);
    text-decoration: none;
}
a{
    color: #022657;
}

.productImage{
    margin-left:100px
}

.productTitle{
    font-size: 24px;

}
.tableTitle{
    font-size: 23px;
}
.tableText{
    color: rgba(0, 0, 0, 0.76);
    text-decoration: none;

}
.comparisonTable{
    margin-left:12px;
    width:95%
}

.featureTable{
    margin-right:12px;
    width:95%
}

.well{
    min-height: 20px;
    padding:20px;
    background-color: transparent;
    border-color: transparent;
}

.well:nth-of-type(2) ul li{ /* second well;*/
    list-style-type:none;
}
.well:nth-of-type(2) ul li:before{
    font-family: 'Glyphicons Halflings';
    font-size: x-large;
    color: black;
    content: "\e013";
    position: relative;
    left: -5px;
}


.well-1{
    min-height: 20px;
    padding:20px;
    background-color: transparent;
    border-color: transparent;
    color: blue;
    font-size: large;
}

.well-2{
    min-height: 20px;
    padding:20px;
    background-color: transparent;
    border-color: transparent;
    color: red;
    font-size: large;
}


/*
List Group Code
 */

.list-group{
    font-size: x-large;
}

.list-group-item{
    color:black;
    font-size: x-large;
}

.list-group-item-info{
    color:black;
    font-size: x-large;
}

.list-group-item-warning{
    color:black;
    font-size: x-large;
}




/*
Picture Hover
 */
.container100{
    width: 100%;
    height: 500px;
}

.picture1 {
    height:500px;
    width: 500px;
    background-image: url('/images/Lily.png');
    background-repeat:no-repeat;
}

.picture1:hover {
    background-image: url('http://www.online-image-editor.com//styles/2014/images/example_image.png');
}

.overviewButton{
    position: relative;
    text-align: left;
    color: rgba(0,0,0,.8) ;
    cursor:pointer;
    background-color: transparent;
    border-color: transparent;
    width:100%;

}

